body {
    max-width: 700px;
    margin: 40px auto;
    padding: 0 20px;
    line-height: 1.7;
    font-size: 20px;
}

nav {
    margin-bottom: 30px;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin-top: 40px;
}